<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>HomeNet scans your local network to discover and identify connected devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_homekit._tcp</string>
		<string>_hap._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_sonos._tcp</string>
		<string>_amzn-wplay._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_http._tcp</string>
		<string>_ssh._tcp</string>
		<string>_smb._tcp</string>
		<string>_printer._tcp</string>
		<string>_ipp._tcp</string>
		<string>_pdl-datastream._tcp</string>
		<string>_scanner._tcp</string>
		<string>_daap._tcp</string>
		<string>_airport._tcp</string>
		<string>_device-info._tcp</string>
		<string>_rfb._tcp</string>
		<string>_nvstream._tcp</string>
		<string>_privet._tcp</string>
		<string>_sleep-proxy._udp</string>
		<string>_meshcop._udp</string>
	</array>
</dict>
</plist>
